<div id="shopify-section-feature-row" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;feature-row&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">

        <div class="feature-row">

            <div class="feature-row__item">

                <style>
                    #FeatureRowImage-feature-row {
                        max-width: 545.0px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-feature-row {
                        max-width: 545.0px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-feature-row" class="feature-row__image-wrapper js">
                    <div style="padding-top:100.0%;">
                        <img id="FeatureRowImage-feature-row" class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0"
                            data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_180x.jpg?v=1632148265 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_360x.jpg?v=1632148265 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_540x.jpg?v=1632148265 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_720x.jpg?v=1632148265 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_900x.jpg?v=1632148265 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1080x.jpg?v=1632148265 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1296x.jpg?v=1632148265 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1512x.jpg?v=1632148265 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1728x.jpg?v=1632148265 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_2048x.jpg?v=1632148265 2048w"
                            sizes="527px"
                            srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_180x.jpg?v=1632148265 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_360x.jpg?v=1632148265 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_540x.jpg?v=1632148265 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_720x.jpg?v=1632148265 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_900x.jpg?v=1632148265 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1080x.jpg?v=1632148265 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1296x.jpg?v=1632148265 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1512x.jpg?v=1632148265 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_1728x.jpg?v=1632148265 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_2048x.jpg?v=1632148265 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_1_600x600@2x.jpg?v=1632148265"
                        alt="" class="feature-row__image" />
                </noscript>
            </div>

            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.feature-row.title/escape">Image with text</h2>

                <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.feature-row.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>

            </div>

        </div>
    </div>


</div>

<div id="shopify-section-1632147480f88e8eba" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;1632147480f88e8eba&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">

        <div class="feature-row">

            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.1632147480f88e8eba.title/escape">Image with text</h2>

                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.1632147480f88e8eba.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>

            </div>

            <div class="feature-row__item">

                <style>
                    #FeatureRowImage-1632147480f88e8eba {
                        max-width: 545.0px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-1632147480f88e8eba {
                        max-width: 545.0px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-1632147480f88e8eba" class="feature-row__image-wrapper js">
                    <div style="padding-top:100.0%;">
                        <img id="FeatureRowImage-1632147480f88e8eba"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0"
                            data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_180x.jpg?v=1632148305 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_360x.jpg?v=1632148305 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_540x.jpg?v=1632148305 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_720x.jpg?v=1632148305 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_900x.jpg?v=1632148305 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1080x.jpg?v=1632148305 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1296x.jpg?v=1632148305 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1512x.jpg?v=1632148305 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1728x.jpg?v=1632148305 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_2048x.jpg?v=1632148305 2048w"
                            sizes="527px"
                            srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_180x.jpg?v=1632148305 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_360x.jpg?v=1632148305 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_540x.jpg?v=1632148305 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_720x.jpg?v=1632148305 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_900x.jpg?v=1632148305 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1080x.jpg?v=1632148305 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1296x.jpg?v=1632148305 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1512x.jpg?v=1632148305 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1728x.jpg?v=1632148305 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_2048x.jpg?v=1632148305 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_600x600@2x.jpg?v=1632148305"
                        alt="" class="feature-row__image" />
                </noscript>
            </div>

        </div>
    </div>


</div>
<div id="shopify-section-1632148290d8f0f96d" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;1632148290d8f0f96d&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">

        <div class="feature-row">

            <div class="feature-row__item">

                <style>
                    #FeatureRowImage-1632148290d8f0f96d {
                        max-width: 545.0px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-1632148290d8f0f96d {
                        max-width: 545.0px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-1632148290d8f0f96d" class="feature-row__image-wrapper js">
                    <div style="padding-top:100.0%;">
                        <img id="FeatureRowImage-1632148290d8f0f96d"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0"
                            data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_180x.jpg?v=1632148322 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_360x.jpg?v=1632148322 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_540x.jpg?v=1632148322 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_720x.jpg?v=1632148322 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_900x.jpg?v=1632148322 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1080x.jpg?v=1632148322 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1296x.jpg?v=1632148322 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1512x.jpg?v=1632148322 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1728x.jpg?v=1632148322 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_2048x.jpg?v=1632148322 2048w"
                            sizes="527px"
                            srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_180x.jpg?v=1632148322 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_360x.jpg?v=1632148322 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_540x.jpg?v=1632148322 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_720x.jpg?v=1632148322 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_900x.jpg?v=1632148322 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1080x.jpg?v=1632148322 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1296x.jpg?v=1632148322 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1512x.jpg?v=1632148322 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_1728x.jpg?v=1632148322 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_2048x.jpg?v=1632148322 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_3_600x600@2x.jpg?v=1632148322"
                        alt="" class="feature-row__image" />
                </noscript>
            </div>

            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.1632148290d8f0f96d.title/escape">Image with text</h2>

                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.1632148290d8f0f96d.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>

            </div>

        </div>
    </div>


</div>
<div id="shopify-section-1632147480f88e8eba" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;1632147480f88e8eba&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">

        <div class="feature-row">

            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.1632147480f88e8eba.title/escape">Image with text</h2>

                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.1632147480f88e8eba.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>

            </div>

            <div class="feature-row__item">

                <style>
                    #FeatureRowImage-1632147480f88e8eba {
                        max-width: 545.0px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-1632147480f88e8eba {
                        max-width: 545.0px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-1632147480f88e8eba" class="feature-row__image-wrapper js">
                    <div style="padding-top:100.0%;">
                        <img id="FeatureRowImage-1632147480f88e8eba"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0"
                            data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_180x.jpg?v=1632148305 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_360x.jpg?v=1632148305 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_540x.jpg?v=1632148305 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_720x.jpg?v=1632148305 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_900x.jpg?v=1632148305 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1080x.jpg?v=1632148305 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1296x.jpg?v=1632148305 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1512x.jpg?v=1632148305 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1728x.jpg?v=1632148305 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_2048x.jpg?v=1632148305 2048w"
                            sizes="527px"
                            srcset="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_180x.jpg?v=1632148305 180w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_360x.jpg?v=1632148305 360w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_540x.jpg?v=1632148305 540w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_720x.jpg?v=1632148305 720w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_900x.jpg?v=1632148305 900w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1080x.jpg?v=1632148305 1080w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1296x.jpg?v=1632148305 1296w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1512x.jpg?v=1632148305 1512w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_1728x.jpg?v=1632148305 1728w, //cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_2048x.jpg?v=1632148305 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0595/2438/2871/files/homepage_2_600x600@2x.jpg?v=1632148305"
                        alt="" class="feature-row__image" />
                </noscript>
            </div>

        </div>
    </div>


</div>