
-----us------

<table>
    <tr><td>Package Dimensions</td><td>6.06 x 6.02 x 4.75</td></tr>
    <tr><td>Voltage</td><td></td>120 V</tr>
    <tr><td>Frequency</td><td></td>60 Hz</tr>
    <tr><td>Wattage</td><td></td>5 w</tr>
</table>

-----eu------

<table>
    <tr><td>Package Dimensions</td><td>15.3 cm x 15.3 cm x 12.1 cm</td></tr>
    <tr><td>Voltage</td><td>230 V</td></tr>
    <tr><td>Frequency</td><td>50 Hz</td></tr>
    <tr><td>Wattage</td><td>5 w</td></tr>
</table>