<h1>{{section.settings.heading}}<h1>
<h3>{{section.settings.question}}</h3>
<p>{{section.settings.answer}}</p>

<div class="faq">
{% for block in section.blocks %}
    {% if block.type == 'QA' %}
    <div class="question">
            <input type="checkbox" id="question-{{forloop.index}}" class="question-toggle">
            <label for="question-{{forloop.index}}" class="question-label">{{block.settings.question}}</label>
            <div class="answer">{{block.settings.answer}}</div>
    </div>
    {% elsif block.type == 'headline'%}  
    <h4>{{block.settings.title}}</h4>
    {% endif %}

{% endfor  %}


{% schema %}
{
    "name": "customer questions",
    "settings": [
        {
        "type": "text",
        "label": "heading for faq",
        "id": "heading"
        },
        {
        "type": "text",
        "label": "customer questions",
        "id": "title"
        },
        {
        "type": "textarea",
        "label": "answer for faq",
        "id": "answer"
        }
    ],
    "blocks": [
        {
            "type": "QA",
            "name": "Question/Answer",
            "settings": [
                {
                "type": "text",
                "label": "title (internal only)",
                "id": "title"
                },
                {
                "type": "text",
                "label": "customer questions",
                "id": "question"
                },
                {
                "type": "richtext",
                "label": "answer for faq",
                "id": "answer"
                }
            ]
        },
        {
            "type": "headline",
            "name": "headline",
            "settings": [
                {
                "type": "text",
                "label": "headline",
                "id": "title"
                }
            ]
        }
    ]
}
{% endschema %}